@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        touch-action: pan-x pan-y;
    }
}

@layer utilities {
    .animation-delay-0 {
        animation-delay: 0ms;
    }

    .animation-delay-100 {
        animation-delay: 100ms;
    }

    .animation-delay-200 {
        animation-delay: 200ms;
    }

    .animation-delay-300 {
        animation-delay: 300ms;
    }
}
